# Maven
target/
!.mvn/wrapper/maven-wrapper.jar

# IDE
.idea/
*.iml
.vscode/
.classpath
.project
.settings/

# Eclipse
.factorypath

# Spring Boot / logs
*.log

# OS
.DS_Store
Thumbs.db

# Environment / secrets
.env
application-local.properties
application-prod.properties

# Java
*.class